body {
    background-color: burlywood;
}
.o
{
    display: flex;
}
.oo {margin : 0px 20px ;
    height : 300px ;
    width : 500px ;
    background-color : orange;
    padding : 20px 20px ;  
    overflow-wrap: break-word ;
    overflow: scroll;

}
.ooo{
    margin : 0px 20px ;
    height : 300px ;
    width : 500px ;
    background-color : orange;
    padding : 20px 20px ;  
    overflow-wrap: break-word ;
    overflow: scroll;
}
button {
    margin : 0px 20px ;
    height : 50 px ;
    width : 150 px ;
    background-color : gray ; 
}
